.resetpswdpage {
    display: flex;
    padding-block: 10rem;
    flex-direction: row;
    justify-content: center;
}

.resetpswdpic {
    width: 547px;
    height: 695px;
    transform: translateX(13px);
}



.resetpswdinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    padding-top: 8rem;
    border: 1px solid black;
}

.resetpswdinfo h1 {
    margin-top: 5rem;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
}



.resetpswdpara {
    font-size: 1rem;
    color: #687676;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
}







.input-group4 {
    margin-bottom: 15px;
    text-align: left;
}


.input-group4 input {
    margin-top: 1.5em;
    width: 140%;
    padding: 10px;
    transform: translateX(-72px);
    outline: none;
    font-family: "Nunito", sans-serif;
    background-color: #ffffff;
    border: 2px solid #459BBF;
    border-radius: 4px;
    color: #A5A5A5;
}



.resetpswdbtn {
    background-color: #393939;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    width: 90%;
    margin-top: 5rem;
    font-size: 16px;
}

.resetpswdbtn a {
    color: #ffffff;
    text-decoration: none;
}

.resetpswdbtn:hover {
    background-color: #393939;
}




.lastline4 {
    padding-bottom: 5rem;
}


.returntologin2 {
    font-size: 1rem;
    color: #459BBF;
    font-family: "Nunito", sans-serif;
    margin-top: 1.5rem;
}

.returntologin2 a {
    text-decoration: none;
    color: #459BBF;
}

.inputdatamain {
    color: #687676;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.inputdataleft {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.inputdataright {
    display: flex;
    gap: 15px;
    flex-direction: column;
}